* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "open-sans", sans-serif;
    color: var(--black);
}
:root {
   --black: #012700;
   --darkGray: #6D6D6D;
   --gray: #ebebeb;
   --white: #F8F8F8;
   --green: #4F8C10;
}
.wrapper {
    min-height: 100vh;
}
nav {
    height: 10vh;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    position: fixed;
    z-index: 12;

}
.currentNav {
    border-bottom: solid 2px var(--green);
}
main {
    background-color: var(--white);
    z-index: 10;
    position: relative;
    height: auto;
    width: 100vw;
    min-height: 200vh;
    
}
.keycap {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-top: 10px;
    top: 100px;
    z-index: 9;

    
}
.keycap:nth-child(1) {
    left: -10px;
    width: 64px;
    transition: 0.5s ease-out;
    height: 64px;
}
.keycap:nth-child(2) {
    left: 17px;
    margin: 0;
    transition: 0.7s ease-out;

}
.keycap:nth-child(3) {
    left: 35px;
    width: 64px;
    height: 64px;
    margin-top: 5px;
    transition: 0.5s ease-out;

}
.logoBox {
    height: 100%;
    width: 25%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
}
.navItem {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}
.openCap {
    top: 0px;
}
.main1 {
    height: 50vh;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;
    position: relative;
}
.main1 h1 {
    position: absolute;
}
.main1 h1:nth-child(1) { /* "Olle" */
    top: 30%;
    left: 10%;
}
.main1 h1:nth-child(2) { /* "Henriksson" */
    bottom: 4rem;
    right: 4rem;
}
.main1 h1:nth-child(3) { /* "Wirén" */
   bottom: 0;
   right: 1rem;
}
.main1ImgBox {
    height: 70%;
    width: 50%;
    background-color: var(--darkGray);
}