* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", cursive;
    color: var(--black);
}
:root {
   --black: #012700;
   --darkGray: #6D6D6D;
   --gray: #ebebeb;
   --white: #F8F8F8;
   --green: #4F8C10;
}
.wrapper {
    min-height: 100vh;
}
nav {
    height: 5vh;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    position: fixed;
    overflow-y: hidden;
    z-index: 13;
    transition: 1s ease;
    background-color: var(--gray,0);

}
.currentNav {
    border-bottom: solid 2px var(--green);
}
main {
    background-color: var(--white);
    position: relative;
    height: auto;
    width: 100vw;
    min-height: 200vh;

    
    
}
.keycap {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-top: 10px;
    top: 100px;
    z-index: 10;

    
}
.keycap:nth-child(1) {
    left: -10px;
    width: 64px;
    transition: 0.5s ease-in-out;
    height: 64px;
}
.keycap:nth-child(2) {
    left: 17px;
    margin: 0;
    transition: 0.7s ease-in-out;

}
.keycap:nth-child(3) {
    left: 35px;
    width: 64px;
    height: 64px;
    margin-top: 5px;
    transition: 0.5s ease-in-out;

}
.logoBox {
    height: 100%;
    width: 66%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}
.navItem {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}
.openCap {
    top: 0px;
}
.keycapPop {
    top: -60px;
}
.keycapPop2 {
    top: 50px;
}
.main1 {
    height: 50vh;
    width: 100vw;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 0;
    letter-spacing: 5px;
    position: fixed;
}
.main1 h1 {
    font-family: basic-sans, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-style: normal;
    z-index: 5;
    
}
.main1 h4 {
    text-align: center;
    font-family: basic-sans, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75rem;
}
.posBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main1 hr {
    width: 200px;
    height: 1px;
}
.posName1 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.posName2 {
    margin-top: 0.3rem;

}
.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*
.main1 h1:nth-child(1) { "Olle" 
    top: 30%;
    left: 10%;
}
.main1 h1:nth-child(2) {  "Henriksson"
    bottom: 4rem;
    z-index: 6;
    right: 2rem;
}
.main1 h1:nth-child(3) { "Wirén" 
   bottom: 0;
   right: 1rem;
   z-index: 6;
}
*/
.main1ImgBox {
    height: 60%;
    width: 40%;
    background-color: var(--darkGray);
    letter-spacing: 0;
    position: absolute;
    bottom: 0;
    right: 25px;
    z-index: 2;
}

.main2 {
    height: 40vh;
    width: 100vw;
    top: 50vh;
    z-index: 2;
    position: relative;
    background-color: var(--white);
}

.keycapScrollStart {
    top: 10px;
    
}
.scrollStart {
    height: 10vh;
    background-color: var(--white, 1);
}
.expandArrow { /* Själva pilen bredvid logo på mobil */
    width: 24px;
    height: 24px;
    fill: var(--black);
    transform: rotate(180deg);
    align-self: flex-end;
    margin-bottom: 8px;
    margin-left: 8px;
    transition: ease 1s;
    opacity: 0;
    user-select: none;
    z-index: 18;
    cursor: initial;
}
.showArrow {
    cursor: pointer;
    user-select: initial;
    opacity: 1;
    transition: opacity ease 1s;
    transition: transform ease 0.3s; 
}
.navExpanded { /* arrow knappen förändras när man öppnar upp nav genom click */
    transform: rotate(0deg);
}

.navPopup { /*Rutan som öppnas på click*/
    width: 30vw;
    height: 15vh;
    position: fixed;
    top: -20vh;
    z-index: 12;
    border-bottom-right-radius: 0.33rem;
    background-color: var(--white);
    box-shadow: 0px 15px 4px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 10px 4px 0px rgba(0,0,0,0.33);
    user-select: none;
    transition: all ease 0.5s;
}

.popupOn { /* När rutan är på genom att klicka på arrow */
    
    
    user-select: initial;
    top: 10vh;

    
}

.blobBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blob {
    transform: rotate(90deg);
}

@media screen and (min-width: 769px) { /* For screens bigger than usual phones, small screens */
    .expandArrow {
        display: none;
    }
}
