* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", cursive;
    color: var(--black);
}
:root {
   --black: #012700;
   --darkGray: #6D6D6D;
   --lightGray: #EBEBEB;
   --gray: #cfcfcf;
   --white: #F8F8F8;
   --green: #4F8C10;
}
.wrapper {
    min-height: 100vh;
}
nav {
    height: 5vh;
    width: 100vw;
    background-color: var(--white);
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    position: fixed;
    overflow-y: hidden;
    z-index: 13;
    transition: 1s ease;
    background-color: var(--lightGray,0);

}
.currentNav {
    border-bottom: solid 2px var(--green);
}
main {
    background-color: var(--white);
    position: relative;
    height: auto;
    width: 100vw;
    min-height: 200vh;

    
    
}
.keycap {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-top: 10px;
    top: 100px;
    z-index: 10;

    
}
.keycap:nth-child(1) {
    left: -10px;
    width: 64px;
    transition: 0.5s ease-in-out;
    height: 64px;
}
.keycap:nth-child(2) {
    left: 17px;
    margin: 0;
    transition: 0.7s ease-in-out;

}
.keycap:nth-child(3) {
    left: 35px;
    width: 64px;
    height: 64px;
    margin-top: 5px;
    transition: 0.5s ease-in-out;

}
.logoBox {
    height: 100%;
    width: 66%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10;
}
.navItem {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}
.openCap {
    top: 0px;
}
.keycapPop {
    top: -60px;
}
.keycapPop2 {
    top: 50px;
}
.main1 {
    height: 50vh;
    width: 100vw;
    background-color: var(--lightGray);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 0;
    letter-spacing: 5px;
    position: fixed;
}
.main1 h1 {
    font-family: basic-sans, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-style: normal;
    z-index: 5;
    
}
.main1 h4 {
    text-align: center;
    font-family: basic-sans, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75rem;
}
.posBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main1 hr {
    width: 200px;
}
.posName1 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.posName2 {
    margin-top: 0.3rem;

}
.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*
.main1 h1:nth-child(1) { "Olle" 
    top: 30%;
    left: 10%;
}
.main1 h1:nth-child(2) {  "Henriksson"
    bottom: 4rem;
    z-index: 6;
    right: 2rem;
}
.main1 h1:nth-child(3) { "Wirén" 
   bottom: 0;
   right: 1rem;
   z-index: 6;
}
*/
.main1ImgBox {
    height: 60%;
    width: 40%;
    background-color: var(--darkGray);
    letter-spacing: 0;
    position: absolute;
    bottom: 0;
    right: 25px;
    z-index: 2;
}

.main2 {
    min-height: 40vh;
    width: 100vw;
    top: 50vh;
    z-index: 2;
    position: relative;
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keycapScrollStart { 
    top: 10px;
    
}
.scrollStart { /* Nav innan scroll */
    height: 10vh;
    background-color: var(--white, 1);
}
.expandArrow { /* Själva pilen bredvid logo på mobil */
    width: 24px;
    height: 24px;
    fill: var(--black);
    transform: rotate(180deg);
    align-self: flex-end;
    margin-bottom: 8px;
    margin-left: 8px;
    transition: ease 1s;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    z-index: 18;
    cursor: initial;
}
.showArrow { /* Arrow when scrolled down */
    cursor: pointer;
    user-select: initial;
    opacity: 1;
    transition: opacity ease 1s;
    transition: transform ease 0.3s; 
    pointer-events: all;

}
.navExpanded { /* arrow knappen förändras när man öppnar upp nav genom click */
    transform: rotate(0deg);
}


.navPopup { /*Rutan som öppnas på click*/
    width: 30vw;
    height: 15vh;
    position: fixed;
    top: -20vh;
    z-index: 12;
    border-bottom-right-radius: 0.33rem;
    background-color: var(--white);
    box-shadow: 0px 15px 4px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 10px 4px 0px rgba(0,0,0,0.33);
    user-select: none;
    transition: all ease 0.5s;
}

.popupOn { /* När rutan är på genom att klicka på arrow */
    user-select: initial;
    top: 10vh;
}

.sittingFig {
    position: absolute;
    top: -132px;
    right: 3rem ;
    fill: var(--white);
    color: var(--white);
}
.portHeader {
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    font-family: "basic-sans", sans-serif;
    letter-spacing: 5px;
    padding: 0.1rem;
}
.main2 hr {
    width: 75%;
}
.worksBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: center;
}
.worksItem {
    margin-bottom: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
    width: 45vw;
    height: 35vh;
    border: solid var(--gray) 2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.worksImg {
    height:66%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--white);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.worksItem:nth-child(1) .worksImg{ /* Qente IMG */
}
.imgActive {
    left: 0vw;
}
.worksDesc {
    height: 33.3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 1rem;
    bottom: 0vh;
    border-top: var(--gray) 2px solid;
    /*background: linear-gradient(0deg, var(--lightGray) 40%, rgba(255,255,255,0) 100%); */

}
.descOn {
    bottom: -10vh;
}
.worksDesc p {
    font-size: 0.66rem;
}
.worksDesc h4 {
    text-transform: uppercase;
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-align: center;
}

.worksItemExpandedBox { /* The box that appears onclick on works item */
     position: fixed;
     left: 50%;
     top: 50%;
     width: 80vw;
     height: 60vh;
     border: solid var(--gray) 2px;
     background-color: var(--white);
     z-index: 300;
     display: flex;
     transform: translate(-50%, -50%);
     border-radius: 5px;
     flex-direction: column;
     align-items: center;
}
.itemExImg {
    height: 65%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 300;
}
.itemImgObj {
    width: 80vw;
    height: 40vh;
    position: fixed;
    display: none;
}/*
.imgObjOn {
}
#firstImgObj {
}
.dotBox {
    width: 50%;
    height: 5%;
}*/
.dotBox {
    z-index: 320;
}
.arrowBox {
    display: block;    
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 320;
    justify-content: flex-end;
    opacity: 0.8;

}
.fishImg {
    width: 80%;
}
.rightArrow {
    width: 60px;
    z-index: 35000;
    cursor: pointer;
    position: relative;
}
/*.rightArrow:hover {
    opacity: 1;
}*/
.arrowActive {
    opacity: 0.8;
    display: block;
}

.itemExDesc {
    border-top: var(--gray) solid 2px;
    height: 25%;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small;
}
.itemExTitle {
    height: 10%;
    width: 100%;
    border-bottom: var(--gray) 2px solid;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    letter-spacing: 4px;
    position: relative;
}

.itemClose {
    right: 0;
    z-index: 30000;
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/*.dotActive {
    opacity: 1;
    display: block;
}*/
.backgroundBlur {  
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: -10;
    transition: ease 0.3s;

}
.backgroundActive {
    opacity: 0.6;
    z-index: 280;
}


.blobButton {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    
}
.blobChar {
    transition: ease 0.5s;
    width: 65px;
    transform: scale(0);
}
.blobOn {
    transform-origin: 100px;
    transform: scale(1);
}
@media screen and (min-width: 769px) { /* For screens bigger than usual phones, small screens */
    .expandArrow {
        display: none;
    }
}
